<launch>
  
  <arg name="carto_config_dir" default="$(find xcm_ros)/config" doc="Path to cartograppher config repo"/>
  <arg name="carto_config_lua" default="xcm_lidar2d.lua" doc="Path to cartograppher config file"/>
  
  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" 
        args="-configuration_directory $(arg carto_config_dir) -configuration_basename $(arg carto_config_lua)" 
        output="screen"> 
      <remap from="points2" to="/os_cloud_node/points" />
      <remap from="imu" to="/os_cloud_node/imu" /> 
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" 
        args="-resolution 0.05" />

</launch>